<h2>Custom classs & Style Directives</h2>
<div [ngClass]="{appHighLight: 10 > 7, appContainer: true}">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In veniam sit porro odit quis omnis illo voluptatem expedita praesentium suscipit quam magni maxime unde nostrum earum beatae, repellendus, aspernatur dignissimos.
        Dicta illo quidem excepturi. Eligendi optio excepturi temporibus, distinctio quae ipsum porro numquam, est assumenda sed quod quidem eius labore placeat harum neque. Rem amet eveniet similique cumque doloribus iste.
        Odit perspiciatis assumenda dolores quas magni cupiditate modi esse voluptatem amet error, ab, nihil voluptatibus sunt distinctio quisquam corporis recusandae omnis, vel voluptatum non. Porro quas enim doloribus fuga minus.
        Illum dolorum, enim illo, fugit laboriosam cupiditate ea saepe numquam architecto quasi quisquam, excepturi aliquam maiores blanditiis eos. Soluta consequatur pariatur eum quam, ipsum voluptate tempore. Magnam commodi quidem at.
        Deleniti ab nesciunt veritatis magnam, dolore labore. Dignissimos doloremque natus tempore quam. Eos repellat iste id, repudiandae quasi culpa illo ducimus. Accusantium doloremque doloribus ullam facere debitis excepturi, iusto fugit?
    </p>
</div>