.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-card {
    margin: 2em;
    /* padding: 0.5em; */
    border-radius: 10%;
    /* border: 2px solid black; */
        
}

.item-card:hover {
    box-shadow: 0 4px 8px 0 #f8b3a7, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-card img{
    width: 25em;
    height: 15em;
    /* margin: 1em; */
    border-radius: 10%;
}



.cardContent p {
    margin-left: 1em;
}

.cardContent span {
    font-weight: 600;
}

.item-card h3 {
    margin-left: 3em;
    width: 100%;
    font-weight: bold;
    text-align: left;
    
}

.priceRating {
    display: flex;
    justify-content: space-between;
}

#rating {
    margin-right: 3em;
}

#price {
    margin-left: 3em;
}

.item-card button {
    margin-bottom: 1.5em;
}

.card-button {
    display: flex;
    justify-content: space-around;
}

.disableCard{
    background-color: #28282b;
    opacity: 0.5;
}

